@import "tailwindcss";

@theme {
  --color-primary: #10b981;
  --color-secondary: #64748b;
  
  --color-bg-main: #f8fafc;
  --color-text-main: #0f172a;
}

.dark {
  --color-primary: #34d399;
  --color-secondary: #94a3b8;
  
  --color-bg-main: #0f172a;
  --color-text-main: #f8fafc;
}

@variant dark (&:where(.dark, .dark *));